        /*
        a[title]:link, a[title]:visited
        {
            	text-decoration: none;
            	position: relative;
            	color : black;
        }

        a[title]:before
        {
                content: "";
                position: absolute;
                border-top: 21px solid #97a5db;
                border-left: 21px solid transparent;
                border-right: 21px solid transparent;
                visibility: hidden;
                top: -20px;
                left: -12px;
        }

        a[title]:after
        {
                position: absolute;
                content: attr(title);
                color: #FFF;
                font-weight:bold;
                top: -35px;
                left: -26px;
                background: #97a5db;
                padding: 5px 10px;
                -moz-border-radius: 6px;
                -webkit-border-radius:6px;
                -khtml-border-radius:6px;
                border-radius: 6px;
                white-space: nowrap;
                visibility: hidden;

        }

        a[title]:hover:before, a[title]:hover:after
        {
                visibility: visible;
                -moz-transition: visibility 0s linear .3s;

        }
*/